.link-text {
  text-decoration: none;
  width: 100%;
}
.loader-container {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-div {
  display: flex;
  height: 57vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.failure-image {
  width: 15%;
}
.dark-failure-div {
  background-color: #181818;
  display: flex;
  height: 57vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.contacts-div {
  padding-left: 25px;
}
